<section>
    <article>
        <h3>Services</h3>
        <div class="row">
            <div class="col-md-6">
                <p>
                  {{ portalName }}
                </p>
                <div class="collection">
                    <a *ngFor="let course of courses" class="collection-item">
                        {{ course }}
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <app-course-details></app-course-details>
            </div>
        </div>
    </article>
</section>
