<h1>
  {{ title }}
</h1>

<!-- <my-selector2></my-selector2> -->

<!-- <app-courses></app-courses> -->

<!-- <app-interpolation></app-interpolation> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-class-style-binding></app-class-style-binding> -->

<!-- <app-event-binding></app-event-binding> -->

<!-- <app-two-way-data-binding></app-two-way-data-binding> -->

<!-- <app-input-property [title]="title" [description]="description"></app-input-property> -->

<!-- <app-output-property [count]="countInit" (countChanged)="onCountChanged($event)"></app-output-property> -->

<!-- <app-life-cicle [startValue]="startValue" *ngIf="!destroyCicle"></app-life-cicle>
<button class="btn btn-primary" (click)="increment()">Add</button>
<button class="btn btn-danger" (click)="doDestroy()">Destroy</button> -->

<app-dom-view-child></app-dom-view-child>
