<h1>
  {{ title }}
</h1>

<!-- <app-courses></app-courses> -->

<!-- <app-interpolation></app-interpolation> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-class-style-binding></app-class-style-binding> -->

<!-- <app-event-binding></app-event-binding> -->

<!-- <app-two-way-data-binding></app-two-way-data-binding> -->

<!-- <app-input-property [title]="title" [description]="description"></app-input-property> -->

<!-- <app-output-property [count]="countInit" (countChanged)="onCountChanged($event)"></app-output-property> -->

<!-- <app-life-cicle [startValue]="startValue" *ngIf="!destroyCicle"></app-life-cicle>
<button class="btn btn-primary" (click)="increment()">Add</button>
<button class="btn btn-danger" (click)="doDestroy()">Destroy</button> -->

<!-- <app-dom-view-child></app-dom-view-child> -->

<!-- <app-switch></app-switch> -->

<!-- <app-ngclass></app-ngclass> -->

<!-- <app-elvis-operator></app-elvis-operator> -->

<app-content>
    Using ngContent right here
    <app-output-property [count]="countInit" (countChanged)="onCountChanged($event)"></app-output-property>

    <div class="panel-header">
        Second Header Panel by Selector
    </div>
    <div class="panel-content">
        <app-output-property [count]="countInit" (countChanged)="onCountChanged($event)"></app-output-property>
    </div>
</app-content>
