<section>

  <!-- <article>
    <h4>Class and Style Binding</h4>

    <div>
        <select #classSelected (change)="0">
          <option value="alert-success">Sucesso</option>
          <option value="alert-info">Info</option>
          <option value="alert-warning">Alerta</option>
          <option value="alert-danger">Erro</option>
        </select>
    </div>

    <div class="alert {{ classSelected.value }}" role="alert">
      Text color
    </div>

    <div class="alert alert-success" role="alert" [style.display]="classSelected.value == 'alert-success' ? 'block' : 'none'">
      Style binding
    </div>

    <div class="alert" role="alert" [class.alert-success]="classSelected.value == 'alert-success'">
      Success
    </div>

    <div class="alert" role="alert" [class.alert-info]="classSelected.value == 'alert-info'">
      Info
    </div>

    <div class="alert" role="alert" [class.alert-warning]="classSelected.value == 'alert-warning'">
      Warning
    </div>

    <div class="alert" role="alert" [class.alert-danger]="classSelected.value == 'alert-danger'">
      Danger
    </div>
  </article> -->

    <article class="event-binding">
        <h3>Event Binding</h3>

        <div class="jumbotron">
            <input type="text" #fieldInput
                (keyup)="onKeyUp($event)"
                (keyup.enter)="doSave($event.target.value)"
                (blur)="doSave(fieldInput.value)">

            <button class="btn btn-primary" (click)="doSave(currentValue)">Save!</button>

            <p>{{ valueSaved }}</p>

            <span
                (mouseover)="onMouseOver()"
                (mouseout)="onMouseOver()"
                [class.highlight]="isMouseOver" >
            Pass mouse over</span>
        </div>
      </article>
</section>
