<section>
  <article>
    <h3>ngSwitch, ngSwitchCase and ngSwitchDefault</h3>


    <div class="container">
      <button class="btn btn-default" [class.btn-primary]="tabSelected == 'home'" (click)="tabSelected = 'home'">Home</button>
      <button class="btn btn-default" [class.btn-primary]="tabSelected == 'mapa'" (click)="tabSelected = 'mapa'">Maps</button>
      <button class="btn btn-default" [class.btn-primary]="tabSelected == 'lista'" (click)="tabSelected = 'lista'">List</button>
    </div>

    <hr />

    <div class="container" [ngSwitch]="tabSelected">
      <p *ngSwitchCase="'mapa'">Mode Maps selected</p>
      <p *ngSwitchCase="'lista'">Mode List selected</p>
      <p *ngSwitchDefault>Home</p>
    </div>

    <hr />

    <div class="container">
      <p *ngIf="tabSelected == 'mapa'">Mode Maps selected</p>
      <p *ngIf="tabSelected == 'lista'">Mode List selected</p>
      <p *ngIf="tabSelected == 'home'">Home</p>
    </div>
  </article>

  <article>
    <h3>Replace directive * for Template (deprecated)</h3>

    <ul>
      <li *ngFor="let course of courses, let i = index">
        {{ i + 1 }} - {{ course }}
      </li>
    </ul>

    <h5>Removendo o * e usando template</h5>

    <ul>
      <li template="ngFor let course of courses, let i = index">
        {{ i + 1 }} - {{ course }}
      </li>
    </ul>

    <ul>
      <template ngFor [ngForOf]="courses" let-course let-i="index">
    <li>
      {{ i + 1 }} - {{ course }}
    </li>
  </template>
    </ul>

  </article>
</section>
