<section>
    <article>
        <h3>Two-way data binding</h3>

        <div class="row">
            <div class="col-md-3">
                <p>By Value Property Binding</p>
                <input type="text"
                    [value]="name"
                    (input)="name = $event.target.value"/>
            </div>

            <div class="col-md-3">
                <p>By ngModel</p>
                <input type="text"
                    [ngModel]="name"
                    (ngModelChange)="name = $event"/>
            </div>

            <div class="col-md-3">
                <p>By Banana in the box</p>
                <input type="text"
                    [(ngModel)]="name"/>
            </div>

            <div class="col-md-3">
                <p>By bindon-ngModel</p>
                <input type="text"
                    bindon-ngModel="name"/>
            </div>
        </div>
        <p>Result: {{ name }}</p>
    </article>
</section>
